<!-- User Info -->

<%= form_tag(dashboard_show_user_list_path, :method => "get",  class: "navbar-form",id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "col-md-2", placeholder: "Search Users" %>
      <input type="submit" class="btn btn-primary"></input>
    </div>
  <% end %>

<table class='table'>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th  style="width: 15%">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |thisuser| %>
      <tr>
        <td><%= thisuser.email %></td>
        <td><%= thisuser.role %></td>
        <td>
          <%= link_to "Edit", edit_user_path(thisuser), class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>