

<div class="profile">

<% if current_user.profile == @profile %>
<div class="profile-actions">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Create Blox", new_bloc_path, class: 'btn btn-primary' %> 
        <%= link_to 'Create Webpage', new_webpage_path, class: "btn btn-primary" %>
      </div>
      <div class="col-md-6 align-right">
        <%= link_to "Edit Account Info", edit_user_registration_path, class: "btn btn-inverse" %> 
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-inverse" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="profile-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 profile-info">
        <div class="avatar">
          <% if @profile.avatar.present? %>
            <%= image_tag @profile.avatar.url(:thumb), class: "img-circle" %>
          <% elsif @profile.user.avatar_url.present? %>
            <%= image_tag @profile.user.avatar_url, class: "img-circle" %>
          <% else %>
            <%= image_tag gravatar_url(@profile.user), class: "img-circle" %>
          <% end %>
        </div>
        <h3><%= @profile.handle %></h3>
        <h5 class="profile-bio">
          <%= @profile.bio %>
        </h5>

        <% if @profile.company.present? %>
        <h5 class="profile-quicklink">
          <i class="fa fa-globe fa-lg"></i>
          <%= @profile.company %>
        </h5>
        <% end %>

        <% if @profile.website.present? %>
        <h5 class="profile-quicklink">
          <a href="<%= @profile.website %>">
            <i class="fa fa-laptop fa-lg"></i>
            <%= @profile.website %>
          </a>
        </h5>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="profile-border" width="300" height="200"></div>

<div class=" bloc-listing">
  <div id="box" class=" js-isotope" >
    <% @profile.user.blocs.each do |bloc| %>
        <div class="item">
            <div class="item-content">
                <!-- <img class="img-responsive" src="<%= bloc.bloc_img.url %>" title="<%= bloc.id %>-<%= bloc.name %>"> -->
                <%= link_to bloc_path(bloc), id: "show-iframe-"+bloc.id.to_s, class: "iframe-container" do %>
                  <div class="glasspanel" height="2" width="2"></div>
                  <textarea id="code-<%=bloc.id%>" class="hidden"><%= raw bloc.code %></textarea>
                  <textarea id="styles-<%=bloc.id%>" class="hidden"><%= raw bloc.styles %></textarea>
                  <iframe id="iframe-<%=bloc.id%>" class="bloc-iframe" src="/blocs/<%=bloc.id%>/preview" height="2"></iframe>

                <% end %>
              <div class="bloc-info">
                <%= link_to bloc_path(bloc), class: "bloc-info-name" do %>
                  <%= bloc.name %>
                <% end %>

                <% if !current_user.bucket_blocs.where(:bloc_id => bloc.id).present? %>
                  <%= link_to bucket_blocs_path(:user => current_user, :bloc => bloc), class: "add-to-bucket" ,method: :post do %>
                  <i class="fa fa-plus"></i>
                  <% end %>
                <% end %>

                <div class="bloc-likes">

                  <% if liked?(bloc, current_user) %>
                    <%= link_to bloc_like_path(bloc, current_user.id),method: :delete, class: "bloc-unlike" do%>
                      <i class="fa fa-heart fa-lg"></i> Liked!
                    <% end %>

                  <% else %>

                    <%= link_to bloc_likes_path(bloc, @like), method: :post, class: "bloc-like"  do%>
                      <i class="fa fa-heart fa-lg"></i> Like?
                    <% end %>
            
                  <% end %>

                  <span class="right"><%= bloc.likes.count %></span>
                </div>

                <script>
                $(window).bind("load", function(){
                  updateIframeSize('iframe-<%=bloc.id%>');
                  updateContainerSize('<%=bloc.id%>', 0.2175);
                });
                </script>


              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>



<!-- <div class="container bloc-listing">
  <div id="box" class="row js-isotope" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".item" }'>

    <% @blocs.each do |bloc| %>
      <div class="item">
          <a href="#" class="item-content">
            <img class="img-responsive" src="<%= bloc.bloc_img.url %>" title="<%= bloc.id %>-<%= bloc.name %>">
            <div class="bloc-info">
              <span><%= bloc.name %></span>
            </div>
          </a>


      </div>
    <% end %>

  </div>
</div> -->

<br><br><br><br><br><br><br><br>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<!-- <%= link_to 'Back', profiles_path %> -->


<p id="notice"><%= notice %></p>

</div>

<style>
                 iframe{
                  border: none;
                  width: 1200px;
                    -moz-transform: scale(0.2175);
                  -moz-transform-origin: 0 0;
                  -o-transform: scale(0.2175);
                  -o-transform-origin: 0 0;
                  -webkit-transform: scale(0.2175);
                  -webkit-transform-origin: 0 0;
                 }

                 a.iframe-container{ overflow: hidden; display: block; cursor: pointer; position: relative;}

                 .glasspanel{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 1000;
                  cursor: pointer;
                  background-color: #fff;
                  opacity: 0;
                 }

                 .glasspanel:hover{opacity: 0.3;}

                 .hidden{ display: none; }

                </style>
<script>
$(window).bind("load", function(){
  
  $('.js-isotope').isotope({
    itemSelector: '.item',
    masonry: {
      columnWidth: 285
    }
  });

});
</script>
