<div class="user">

<div class="user-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 profile-info">
        <div class="avatar">
          <% if current_user.profile.avatar.present? %>
            <%= image_tag current_user.profile.avatar.url, class: "img-circle"%>
          <% elsif current_user.avatar_url.present? %>
            <%= image_tag current_user.avatar_url, class: "img-circle" %>
          <% else %>
            <%= image_tag gravatar_url(current_user), class: "img-circle" %>
          <% end %>
        </div>

          <h4>Edit Account Info</h4>


        </div>
      </div>
    </div>
  </div>
  <div class="user-border" width="300" height="200"></div>


      <br><br>  
        <div class="col-md-8 col-md-offset-2">
                
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <% if current_user.provider.nil? %>

                 <h4>Update Email and Password</h4>

                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, placeholder:"email", class: "form-control" %>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                

                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "password (leave blank if you don't want to change it)", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :current_password, autocomplete: "off",placeholder: "current password (we need your current password to confirm the change)", class: "form-control" %>
                  </div>
                  
                  <% if current_user.present? && current_user.role == "admin" %>
                    <div class="form-group">
                      <%= f.select :role, [["Administrator", "admin"], ["Designer", "designer"]], {}, {class: "form-control"} %>
                    </div>
                  <% end %>
                  
                  <br>
                  <div><%= f.submit "Update", class: "btn btn-primary btn-block" %></div>
                  <% end %>
                <% end %>

                <hr>

                <h4>Cancel Account</h4>
                <p>We're super sad to see you go, but we'd like to thank you for trying WebBlox!</p>
                <br>
                <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block" %>

              </div>

<!-- 
              <div class="form-footer-info text-center" style="">
                Changed your mind? Head <%= link_to "back to webpages", :back %>
              </div> -->
      </div>
      <style>
        .avatar{
          padding: 5px 10px 20px;

          img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
          }
        }
      </style>