<div class="layoutsbg"></div>

<div id="landing-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-6">
						<div class="landing-panel weblox-panel">
							<div class="weblox-branding">
								<%= image_tag("weblox-branding.png", class: "weblox-main-branding") %>
								<div class="arrow-down"></div>
							</div>
							
							<div class="weblox-text panel-padding">
								<p>Weblox is an easy-to-use webpage template builder. Use Weblox to generate a fully responsive webpage based on <%=link_to "Bootstrap","http://www.getbootstrap.com", class: "bootstrap-link"%>.</p>
								<p>You choose the blox, we build the code.</p>
							</div>

							<div class="weblox-social">
								<ul class="social text-center">
								<!-- <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li> -->
								<li><a href="https://twitter.com/buildweblox"><i class="fa fa-twitter fa-2x"></i></a></li>
							</ul>
							</div>

						</div>
					</div>
					<div class="col-md-6">
						<div class="landing-panel form-panel panel-padding">
							<h4>Sign Up</h4>
							<div class="weblox-form">
								<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
									<%= devise_error_messages! %>

									<div class="form-group">
									<%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control" %></div>

									<div class="form-group">
									<%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control" %></div>

									<div class="form-group">
									<%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "form-control"  %></div>
									
									<div> <%= f.submit "Sign Me Up!", class: "btn btn-primary btn-block" %> </div>
								<% end %>

								<div class="or-divider">
									<div class="or-text">
										<%= image_tag("or-divider.png") %>
									</div>
									<hr>
								</div>

								<%- if devise_mapping.omniauthable? %>
							  		<%- resource_class.omniauth_providers.each do |provider| %>
							    		<%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-social btn-block" do%>
											<i class="fa fa-<%=provider%>"></i>
											Sign up with <%= provider %>
										<% end %>
							  		<% end -%>
								<% end -%>
								<!-- END OmniAuth -->

							</div>
							<!-- END weblox form -->

							<div class="form-footer-info text-center">
								<%- if controller_name != 'sessions' %>
									Already have an account?
									<%= link_to "Sign in", new_session_path(resource_name)%><br />
								<% end -%>
							</div>
							<!-- FLASH + ALERTS -->
								<!-- <div class="row">
									<div class="col-md-8 col-md-offset-2">
										<% if notice %>
									  		<p class="alert alert-success"><%= notice %></p>
										<% end %>
										<% if alert %>
									  		<p class="alert alert-danger"><%= alert %></p>
										<% end %>
									</div>
								</div> -->
							<!-- /FLASH + ALERTS -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





