

<div id="wrapper">
	
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="#">Blox Categories</a></li>
			<% @categories.each do |category| %>
				<li>
					<a href="#" id="name-<%=category.name%>" onMouseOver="show('list-<%=category.name%>'), slidein()" ><%= category.name %></a>
				</li>
			<% end %>
		</ul>
	</div>

	<div id="sidebar-submenu">
		<%= render @categories %>
	</div>
	<!-- /Sidebar -->

	<div id="page-content-wrapper">
		<div class="content-header">
			<h1>
				<a href="#" id="menu-toggle" class="btn btn-default">
					<i class="icon-reorder"></i>
				</a>
				Editing webpage

			</h1>
		</div>

		<div class="page-content inset">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<%= render 'form' %>
				</div>
			</div>
			<br><br><br>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table id="sortable" class="table" data-update_url="<%= sort_web_layouts_path %>">
						<thead>
							<tr>
								<th>Position</th>
								<th>Bloc</th>
								<th>Delete</th>
							</tr>
						</thead>

						<tbody>
							<% for wlayout in @webpage.web_layouts %>
							
								<tr class="item" data-item_id="<%= wlayout.id %>">
									<td><%= wlayout.position %></td>
									<td><img src="<%= wlayout.bloc.img_url %>" alt="<%= wlayout.bloc.name %>"></td>
									<td class="bloc-delete-col"><%= link_to "Delete", web_layout_path(wlayout, webpage: @webpage), method: :delete, class: 'btn btn-danger btn-sm' %></td>
								</tr>
						
							<% end %>
						</tbody>
					</table>

						

				</div>
			</div>
			<br><br><br>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr>
					<%= link_to 'Show', @webpage %> |
					<%= link_to 'Back', webpages_path %>
				</div>
			</div>

		</div>

	</div>
	<!-- /Page content -->

<!-- Custom JavaScript for the Menu Toggle -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});

	// Sidebar-submenu content controller
	var showID = null;
	function show(id) {
		if (showID != null) {
			document.getElementById(showID).style.display = "none";
		}
	document.getElementById(id).style.display = "block";
	showID = id;
	}


	// Sidebar-submenu slide-in & slide-out controllers
	function slidein(){
		document.getElementById('sidebar-submenu').style.left = "250px";
	}

  	var timer;
    $(document).ready(function() {
        $("#sidebar-wrapper, #sidebar-submenu").mouseleave(function() {
            timer=setTimeout(
            	"$('#sidebar-submenu').animate({left: '-80px'},0);"
            	,0);
        });

        $("#sidebar-wrapper, #sidebar-submenu").mouseenter(function() {
            clearTimeout(timer);
        });
    });
</script>
</div>



