<h1>Editing webpage</h1>

<%= render @categories %>
<%= render 'form' %>

<ul>
	<% for wlayout in @webpage.web_layouts %>
		<img src="<%= wlayout.bloc.img_url %>" alt="<%= wlayout.bloc.name %>">
		<%= link_to "-", web_layout_path(wlayout, webpage: @webpage), method: :delete %>
    <% end %>
</ul>

<%= link_to 'Show', @webpage %> |
<%= link_to 'Back', webpages_path %>
