<h1>Editing webpage</h1>

<%= render @categories %>
<%= render 'form' %>

<ul>
	<% for bloc in @webpage.blocs %>
		<img src="<%= bloc.img_url %>" alt="<%= bloc.name %>">
		<%= link_to "-", webpage_path(:todelete => @webpage.web_layouts.find_by(bloc: bloc)), method: :put %>
    <% end %>
</ul>

<%= link_to 'Show', @webpage %> |
<%= link_to 'Back', webpages_path %>
