<style>
	.navbar-fixed-top{
  margin-top: 5px;
}
</style>

<div class="webpage-edit">
<div class="page-border" width="300" height="200"></div>
<div id="wrapper">
	
	<!-- SIDEBAR -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="#">Blox Categories</a></li>
			<% @categories.each do |category| %>
				<li>
					<a href="#" id="name-<%=category.name%>" onMouseOver="show('list-<%=category.name%>'), slidein()" ><%= category.name %></a>
				</li>
			<% end %>
		</ul>
	</div>

	<div id="sidebar-submenu">
		<%= render 'bucket_blocs/bucket_blocs', :categories => @categories %>
	</div>
	<!-- /SIDEBAR -->

	<div id="page-content-wrapper">
		<div class="content-header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<%= render 'form' %>
				</div>
			</div>
			
		</div>
		
		<!-- INSET CONTENT -->
		<div class="page-content inset">
			
			
			<!-- SORTABLE -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table id="sortable" class="table" data-update_url="<%= sort_web_layouts_path %>">
						<thead>
							<tr>
								<th>Bloc</th> <th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr> <td><%= image_tag("browser.png") %></td> <td></td> </tr>

							<% if not @webpage.web_layouts.present?%>
								<tr> <td><%= image_tag("placeholder.png") %></td> <td></td> </tr>
							<% end %>
						
							<% for wlayout in @webpage.web_layouts %>
								<% bloc = wlayout.bloc %>
								<tr class="item" data-item_id="<%= wlayout.id %>">
									<td>
										<div class="iframe-container" id="show-iframe-<%=bloc.id%>">
											<div class="glasspanel" height="2" width="2"></div>
											<iframe id="iframe-<%=bloc.id%>" class="bloc-iframe" src="/blocs/<%=bloc.id%>/preview" height="2"></iframe>
										</div>

										

										<script>
						                $(window).bind("load", function(){
						                  iframeMagic('iframe-<%=bloc.id%>', 'show-iframe-<%=bloc.id%>', 0.666666);
						                });
						                </script>

									</td>
									<td class="bloc-delete-col"><%= link_to "Delete", web_layout_path(wlayout, webpage: @webpage), method: :delete, class: 'btn btn-danger btn-sm' %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
			<br><br><br>
			<!-- /SORTABLE -->
		</div>
		<!-- /INSET CONTENT -->

	</div>
	<!-- /Page content -->
</div>

<script>
	$(window).bind("load", function(){
		$("#sidebar-submenu ul").each(function( index ) {
        	$(this).css("display", "none");
        });
	});
</script>




<style>
.glasspanel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: pointer;
  background-color: #fff;
  opacity: 0;
 }

.glasspanel:hover{opacity: 0.3;}

iframe{
  border: none;
  width: 1200px;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
 }



 .iframe-container{ overflow: hidden; display: block; cursor: pointer; position: relative;}
</style>

<!-- Custom JavaScript for the Menu Toggle -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});

	// Sidebar-submenu content controller
	var showID = null;
	function show(id) {
		if (showID != null) {
			document.getElementById(showID).style.display = "none";
		}
	document.getElementById(id).style.display = "block";
	showID = id;
	}


	// Sidebar-submenu slide-in & slide-out controllers
	function slidein(){
		document.getElementById('sidebar-submenu').style.left = "250px";
	}

  	var timer;
    $(document).ready(function() {
        $("#sidebar-wrapper, #sidebar-submenu").mouseleave(function() {
            timer=setTimeout(
            	"$('#sidebar-submenu').animate({left: '-80px'},0);"
            	,0);
        });

        $("#sidebar-wrapper, #sidebar-submenu").mouseenter(function() {
            clearTimeout(timer);
        });
        
    });
</script>
</div>
