<div class="show-bloc">

<div class="show-bloc-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h3 class="webpage-title">New Webpage</h3>
        <br>
        <h4> Choose a name for your webpage and enter it below. You can always change it later.</h4>

      </div>
    </div>
  </div>
</div>
<div class="polygon-divider" width="300" height="200"></div>

<!-- <div class="polygon"></div> -->

<!-- <div id="web-pages-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6 col-md-offset-3">
          <div class="landing-panel form-panel weblox-panel">
            <div class="weblox-branding">
              <%= image_tag("weblox-branding.png", class: "weblox-main-branding") %>
              <div class="arrow-down"></div>
            </div> -->
            
           <!--  <div class="weblox-form panel-padding"> -->
        <div class="container web-page-listing">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= form_for(@webpage) do |f| %>
                <% if @webpage.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@webpage.errors.count, "error") %> prohibited this webpage from being saved:</h2>

                    <ul>
                    <% @webpage.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <br><br><br>
                <div class="form-group">
                  <%= f.text_field :name, autofocus: true, placeholder: "Webpage Name", class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit 'Create Webpage', :class => "btn btn-primary btn-block"%>
                </div>
              <% end %>
            
              <br>  
              <div class="form-footer-info text-center">
                <%= link_to 'Back to my Webpages', webpages_path %>
              </div>
            </div>
          </div>
        </div>

  <br><br><br><br><br><br><br><br><br><br>
  <%= render 'layouts/footer' %>
</div>






