<h1>New webpage</h1>




<%= form_for(@webpage) do |f| %>
  <% if @webpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webpage.errors.count, "error") %> prohibited this webpage from being saved:</h2>

      <ul>
      <% @webpage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <!-- <div class="field">
    <%= f.label :bloc_id %><br>
    <%= f.number_field :bloc_id %>
  </div> -->
  <br><br>
  <div class="actions">
    <%= f.submit 'Create Page', :class => "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', webpages_path %>
