<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>


	
	<% for bloc in @webpage.blocs %>
	
        <pre><code data-language="html"><%= bloc.code %></code></pre> 
		<!--<img src="<%= bloc.img_url %>" alt="<%= bloc.name %>">-->
	
    <% end %>
    

<%= link_to 'Back', edit_webpage_path(@webpage), class: 'btn btn-primary btn-sm' %>
