<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>


<ul>
	<% for bloc in @webpage.blocs %>
        <!-- <li><%= bloc.img_url %></li> -->
		<img src="<%= bloc.img_url %>" alt="<%= bloc.name %>">
    <% end %>
</ul>

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
