<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>


<ul>
	<% for bloc in @webpage.blocs %>
        <li><%= bloc.name %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
