<div class="container">
	<br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default quickform">
				<div class="panel-header">
					<h4>Edit User Account Info</h4>
				</div>
				<div class="panel-body">
					<%= form_for(@otheruser) do |f| %>
						<div class="form-group">
						    <%= f.label :email %><br>
						    <%= f.email_field :email , {class: 'form-control'}%>
						  </div>

						  <% if current_user.present? && current_user.role == "admin" %>
				              <div class="form-group">
				                <%= f.label :role %>
				                <%= f.select :role, [["Administrator", "admin"], ["Designer", "designer"]], {}, {class: "form-control"} %>
				              </div>
				          <% end %>

				          <br>
            			
            			<%= button_to "Update", user_path(@otheruser), method: :update, class: "btn btn-primary btn-block" %>
					<% end %>
				</div>
				<div class="panel-header">
		          <h4>Cancel User Account</h4>
		        </div>
				<div class="panel-body">
					<%= button_to "Cancel user account", user_path(@otheruser), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block" %>
				</div>
				
				
			</div>
		</div>
	</div>
</div>