<%= form_for(@bloc) do |f| %>
  <% if @bloc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bloc.errors.count, "error") %> prohibited this @bloc from being saved:</h2>

      <ul>
      <% @bloc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name ,autofocus: true, placeholder: "Name", class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Category"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :tag_list, placeholder:"add tags seperated by commas", class: "form-control" %>
  </div>
  
  <div>
    <p> Download the blox <%= link_to "template", "/weblox-template.zip" %>
  </div>

  <div class="form-group">
    <%= f.text_area :code, placeholder: "HTML", id: 'html', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_area :styles, placeholder: "CSS", id: 'styles', class: 'form-control' %>
  </div>
 
  <!-- <div class="form-group">
    <%=f.file_field :bloc_img %>
  </div> -->



  <div class="actions">
    <%= f.submit "I'm Done!",  class: "btn btn-primary " %>
    <%= hidden_field_tag :user_id,  current_user.id %>
  </div>
<% end %>
