<%= form_for(@bloc) do |f| %>
  <% if @bloc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bloc.errors.count, "error") %> prohibited this @bloc from being saved:</h2>

      <ul>
      <% @bloc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name ,autofocus: true, placeholder: "Name", class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.text_area :code, placeholder: "Code", class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%=f.file_field :bloc_img %>
  </div>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Weblox Category"}, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit  class: "btn btn-primary btn-block" %>
  </div>
<% end %>
