<div class="bloc-index">

  <div class="index-top">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h3>Below is a listing of all available blox part of the Weblox project. Add your favorite blox to your bucket and use them to build your next webpage!</h3>

          <%= form_tag(blocs_path, :method => "get", class: "navbar-form",id: "search-form") do %>
            <div class="input-append">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Tags" %>
              <input type="submit" class="btn btn-primary"></input>
              <%= link_to "reset", blocs_path, class: "btn btn-primary" %>
            </div>
          <% end %>
          <%= form_tag(@blocs_path, :method => "get", class: "navbar-form") do %>
            <input type="submit" class="btn btn-default" value="order by likes"></input>
            <input type="hidden" name="order" value="liked">
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
  <div class="polygon-divider" width="300" height="200"></div>

  <!-- data-isotope-options='{"itemSelector": ".item" }' -->

  <div class=" bloc-listing">
    <div id="box" class=" js-isotope" >

      <% @blocs.each do |bloc| %>
        <% builder = @users.find(bloc.user_id) %>
        <div class="item">
            <div class="item-content">
                <!-- <img class="img-responsive" src="<%= bloc.bloc_img.url %>" title="<%= bloc.id %>-<%= bloc.name %>"> -->
                <%= link_to bloc_path(bloc), id: "show-iframe-"+bloc.id.to_s, class: "iframe-container" do %>
                  <div class="glasspanel" height="2" width="2"></div>
                  
                  <iframe id="iframe-<%=bloc.id%>" class="bloc-iframe" src="/blocs/<%=bloc.id%>/preview" height="2"></iframe>

                <% end %>
              <div class="bloc-info">
                <%= link_to bloc_path(bloc), class: "bloc-info-name" do %>
                  <%= bloc.name %>
                <% end %>

                <% if !current_user.bucket_blocs.where(:bloc_id => bloc.id).present? %>
                  <%= link_to bucket_blocs_path(:user => current_user, :bloc => bloc), class: "add-to-bucket" ,method: :post do %>
                  <i class="fa fa-plus"></i>
                  <% end %>
                <% end %>

                <div class="bloc-likes">

                  <% if liked?(bloc, current_user) %>
                    <%= link_to bloc_like_path(bloc, current_user.id, :redirect_to => blocs_path),method: :delete, class: "bloc-unlike" do%>
                      <i class="fa fa-heart fa-lg"></i> Liked!
                    <% end %>

                  <% else %>

                    <%= link_to bloc_likes_path(bloc, @like, :redirect_to => blocs_path), method: :post, class: "bloc-like"  do%>
                      <i class="fa fa-heart fa-lg"></i> Like?
                    <% end %>
            
                  <% end %>

                  <span class="right"><%= bloc.likes.count %></span>
                </div>


                <script>
                $(window).bind("load", function(){
                  updateIframeSize('iframe-<%=bloc.id%>');
                  updateContainerSize('<%=bloc.id%>', 0.2175);
                  
                });
                </script>


              </div>
            </div>
            <div class="bloc-builder">
                  <% if builder.profile.avatar.present? %>
                    <%= image_tag builder.profile.avatar.url(:thumb), class: "img-circle" %>
                  <% elsif builder.avatar_url.present? %>
                    <%= image_tag builder.avatar_url, class: "img-circle" %>
                  <% else %>
                    <%= image_tag gravatar_url(builder), class: "img-circle" %>
                  <% end %>
                  <%= link_to builder.profile.handle, profile_path(builder.profile.id), class: "builder-profile" %>
                </div>
        </div>
      <% end %>

    </div>
  </div>



  <%= render 'layouts/footer' %>

</div>




<script>
$(window).bind("load", function(){
  
  $('.js-isotope').isotope({
    itemSelector: '.item',
    masonry: {
      columnWidth: 285
    }
  });

});
</script>