<h1>Listing blocs</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Category ID</th>
      <th>Image<th>
      <th>User</th>
      <th>show</th>
      <th>edit</th>
      <th>delete</th>
      <th>add</th>
    </tr>
  </thead>

  <tbody>
    <% @blocs.each do |bloc| %>
      <tr>
        <td><%= bloc.name %></td>
        <td><%= bloc.code %></td>
        <td><%= bloc.category.name %></td>
        <td><%= bloc.img_url %></td>
        <td><%= bloc.user.email %></td>
        <td><%= link_to 'Show', bloc %></td>
        <td><%= link_to 'Edit', edit_bloc_path(bloc) %></td>
        <td><%= link_to 'Destroy', bloc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add', bucket_blocs_path(:user => current_user, :bloc => bloc), id: bloc.id ,method: :post%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bloc', new_bloc_path %>
