<div id="web-pages-content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bloc.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @bloc.code %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bloc.img_url %><br>
  <img src="<%= @bloc.img_url %>" alt=" <%= @bloc.name %> ">

</p>

<p>
  <strong>Category:</strong>
  <%= @bloc.category_id %> :: <%= @bloc.category.name %>
</p>

<p>
  <% @bloc.tags.any? %>
    <% @bloc.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_bloc_path(@bloc) %> |
<%= link_to 'Back', blocs_path %>

</div>
