<div class="bloc-index">

  <div class="index-top">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
        <h3>Below is a listing of all available blox part of the Weblox project. Add your favorite blox to your bucket and use them to build your next webpage!</h3>

          <%= form_tag(blocs_path, :method => "get", class: "navbar-form",id: "search-form") do %>
            <div class="input-append">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Tags" %>
              <input type="submit" class="btn btn-primary"></input>
              <%= link_to "reset", blocs_path, class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <div class="polygon-divider" width="300" height="200"></div>


  <div class="container bloc-listing">
    <div id="box" class="row js-isotope" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".item" }'>

      <% @blocs.each do |bloc| %>
        <% builder = @users.find(bloc.user_id) %>
        <div class="item">
            <a href="#" class="item-content">
              <img class="img-responsive" src="<%= bloc.bloc_img.url %>" title="<%= bloc.id %>-<%= bloc.name %>">
              <div class="bloc-info">
                <span><%= bloc.name %></span>
              </div>
            </a>
            <div class="bloc-builder">
                  <% if builder.avatar_url.present? %>
                    <%= image_tag builder.avatar_url, class: "img-circle" %>
                  <% else %>
                    <%= image_tag gravatar_url(builder), class: "img-circle" %>
                  <% end %>
                  <%= link_to builder.profile.handle, profile_path(builder.profile.id), class: "builder-profile" %>
                </div>
        </div>
      <% end %>

    </div>
  </div>

  <%= link_to 'New Bloc', new_bloc_path %>

</div>
