<div class="polygon" width="300" height="200"></div>

<div id="welcome-page">

	<div class="container ">
		<div class="row ">
			<div class="col-md-6">
				<div class="text-center col-md-8 col-md-offset-2">
					<%= image_tag("weblox-branding.png", class: "weblox-main-branding") %>
				</div>
				<div class="intro-text col-md-8 col-md-offset-2">
					<p>Weblox is an easy-to-use website template builder. Use Weblox to generate a fully responsive website based on <%=link_to "Bootstrap","http://www.getbootstrap.com"%>.</p>
					<p>You choose the blox, we build the code.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default quickform">
					<div class="panel-header">
						<h4>Sign In to your Account</h4>
					</div>
					<div class="panel-body">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<div class="form-group" ><!-- <%= f.label :email %><br/> -->
							<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %></div>

							<div class="form-group" ><!-- <%= f.label :password %><br/> -->
							<%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control" %></div>

							<div class="form-group">
								<% if devise_mapping.rememberable? -%>
									<div><%= f.check_box :remember_me %> 
									<%= f.label :remember_me %></div>
								<% end -%>
							</div>
							
							<div><%= f.submit "Sign in", class: "btn btn-primary btn-block" %></div>
						<% end %>
						<br />
						<%- if devise_mapping.omniauthable? %>
					  		<%- resource_class.omniauth_providers.each do |provider| %>
					    		<%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-twitter btn-block" do%>
									<i class="fa fa-twitter"></i>
									Sign in with Twitter
								<% end %>
					    		
					  		<% end -%>
						<% end -%>
					</div>


					<div class="panel-footer text-center">
						<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
						  <%= link_to "Oops, I forgot my password", new_password_path(resource_name) %><br />
						<% end -%>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-6 text-center form-follow-up">
				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
					Don't have an account yet? 
					<%= link_to "Sign up", new_registration_path(resource_name) %><br />
				<% end -%>
			</div>
		</div>
	</div>

</div>


<div class="builders">
	<p>A project by</p>
	<%= link_to( image_tag("https://pbs.twimg.com/profile_images/464623408991330304/Oc35DbTJ.jpeg"), "http://www.twitter.com/harismahmood89" )  %>
	<%= link_to( image_tag("https://pbs.twimg.com/profile_images/447594224372838400/h9piTdxu.jpeg"), "http://www.twitter.com/deartrudence")  %>

</div>
