<ul id="list-<%=category.name%>">
<% for bloc in category.blocs %>
    <li class="bloc_element">
      <p class="bloc_title"><%= bloc.name %></p>
      <img src="<%=bloc.img_url%>" alt="<%=bloc.name%>">
      <% if @webpage.present? %>
      <%= link_to "+", web_layouts_path(:webpage => @webpage, :bloc => bloc), method: :post %>
      <% end %>
  </li>
      
<% end %>
</ul>