<ul id="list-<%=category.name%>">
<% for bloc in category.blocs %>
    <li class="bloc_element">
      <img src="<%=bloc.bloc_img%>" alt="<%=bloc.name%>" id="img-<%=bloc.name%>">
	   <% if @webpage.present? %>
	      <%= link_to web_layouts_path(:webpage => @webpage, :bloc => bloc), class: "add-hitspace", id: bloc.name ,method: :post do%>
				<i class="fa fa-plus"></i>
				click to add
	      <% end %>
	   <% end %>
      <span class="bloc_title"><%= bloc.name %></span>

      <script>
      		$(window).bind("load", function() {
      			var img = document.getElementById('img-<%=bloc.name%>'); 
				var imgheight = (278/img.width)*img.height;
				document.getElementById('<%= bloc.name %>').style.lineHeight = imgheight + 'px';
      		});
			
		</script>

  </li>
      
<% end %>
</ul>


