<!DOCTYPE html>
<html>
<head>
  <title>Blox</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">Blox</a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse navbar-ex1-collapse">
	            <ul class="nav navbar-nav">
	            	<li><a href="/dashboard/index">Dashboard</a>
	                </li>
	                <li><a href="/blocs">Blocs</a>
	                </li>
	                <li><a href="/categories">Categories</a>
	                </li>
	                <li><a href="/webpages">Web Pages</a>
	                </li>
	                <% if user_signed_in? %>
		                <li>Logged in as <%= current_user.email %></li>
		                <li><%= image_tag gravatar_url(current_user) %>
		                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
		                <li><%= link_to "SignOut", destroy_user_session_path, method: :delete %></li>
	                <% else %>
		                <li><%= link_to "SignUp", new_user_registration_path %></li>
		                <li><%= link_to "SignIn", new_user_session_path %></li>
	                <% end %>
	            </ul>
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container -->
	</nav>
	<br><br><br>

	<!-- Notices/Alerts for devise -->
	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield %>

</body>
</html>
